<!-- 表格7: Advanced Email  -->
<div th:if="${product.elementId == '34000075'}" class="table-block page-break">
  <table
    class="custom-table custom-table2 charge-table"
    style="border-bottom: 1px solid #000; border-top: none"
  >
    <colgroup>
      <col style="width: 50%" />
      <col style="width: 16.76%" />
      <col style="width: 33.24%" />
    </colgroup>
    <tr>
      <td colspan="3" style="text-align: center" th:text="${product.name}">
        Advanced Email
      </td>
    </tr>
    <tr>
      <td colspan="3" style="background-color: #d9d9d9">
        Value Added Service(s) Info
      </td>
    </tr>
    <tr>
      <td>Commitment Period</td>
      <td colspan="2">
        <span th:text="${product.itemMap.contract_period}"></span>
      </td>
    </tr>
    <tr>
      <td rowspan="2">Advanced Email Description</td>
      <td>No. of Login</td>
      <td>Email Storage</td>
    </tr>
    <tr>
      <td th:text="${product.itemMap.no_of_login}">xx</td>
      <td th:text="${product.itemMap.no_of_storage}">xx GB</td>
    </tr>
    <tr>
      <td colspan="3">New E-mail Registration</td>
    </tr>
    <tr>
      <td colspan="3">
        <p>Please note that:</p>
        <p style="margin-top: 12px">
          - the administrator can manage quota allocation for other users via
          customer portal at www.biznetvigator.com (by default is 400 MB per
          email account)
        </p>
        <p style="margin-top: 12px">
          - for email service migration, it is highly recommended that you
          backup your emails from your existing email service provider prior to
          actual email migration.- migration is required if the domain name
          change from Leased Line to Business Broadband Service
        </p>
        <p style="margin-top: 12px">
          The number of characters for an e-mail login should between 2-15
          characters. All characters should be in lower cases. No special
          characters such as #, $, * etc is allowed. It should begin with an
          alphabet. The number of characters for a domain name "login@domain"
          should be less than 36 characters.
        </p>
        <p style="margin-top: 12px">
          The login ID will be auto-assigned if your preference is not
          applicable. It takes 5 working days to activate E-mail account or
          roaming service.
        </p>
        <p style="margin-top: 12px">
          A default mailbox size is provisioned, please visit
          www.biznetvigator.com and login your admin user account to manage your
          mailbox size.
        </p>
        <table class="custom-table">
          <colgroup>
            <col style="width: 4.19%" />
            <col style="width: 31.84%" />
            <col style="width: 31.84%" />
            <col style="width: 32.12%" />
          </colgroup>
          <tbody>
            <tr>
              <td></td>
              <td>
                <b>Login ID first Choice</b><br />
                <i>(Within 15 characters)</i>
              </td>
              <td>
                <b>Login ID second Choice</b><br />
                <i>(Within 15 characters)</i>
              </td>
              <td>
                <b>Preferred Alias@domain</b><br />
                <i>Example:you@yourdomain.com</i>
              </td>
            </tr>
            <tr th:each="i : ${#numbers.sequence(1,10)}">
              <td th:text="${i}"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div style="line-height: 1.5">
          <p style="margin-top: 20px">
            <b>E-mail Login for activating Admin Function:</b>
            ____________________
            <i
              >(Please fill in <b>Administrative Contact </b>information
              above)</i
            >
          </p>
          <p><b>E-mail Service Setup Charge Details:</b></p>
          <table style="margin: 25px 0 15px 25px; width: 80%" class="no-table">
            <tbody>
              <tr>
                <td style="width: 25px; vertical-align: top; font-size: 20px">
                  &#8226;
                </td>
                <td>Email Mapping Modification: HK$100/line</td>
              </tr>
              <tr>
                <td style="width: 25px; vertical-align: top; font-size: 20px">
                  &#8226;
                </td>
                <td>E-mail Login Modification: HK$50/line</td>
              </tr>
              <tr>
                <td style="width: 25px; vertical-align: top; font-size: 20px">
                  &#8226;
                </td>
                <td>Create E-mail Login: Waived within the term plan limit</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="customer-tr">
          Terms and Conditions (T&amp;C) of Value Added Service(s)
        </div>
        <ol style="padding: 0 20px; line-height: 1.5" class="tcContent">
          <li>
            The Company reserves right to remove the Customer's files or data
            stored under the BNS, which contain virus or might affect the BNS;
            or under any circumstance the Company think fit or required by any
            applicable law, rule, regulation or order.
          </li>
          <li>
            The BNS will be operated as an ancillary service to Customer's
            Business NETVIGATOR Broadband Service indicated as the Existing
            Broadband Service Ref. No. above in this Application and the
            termination of the latter will imply a corresponding termination of
            the BNS.
          </li>
          <li>
            The Customer shall pay additional Charge as specified by the Company
            for any monthly storage usage exceeding the Email Storage
            Entitlement of the subscribed Service Plan. The monthly storage
            usage shall be the average daily storage usage for the month as
            rounded up to the nearest dig.
          </li>
          <li>
            The Service will be operated as an ancillary service to the
            Customer's Business NETVIGATOR Broadband Service indicated as the
            Existing Broadband Service Ref. No. above in this Application. If
            your Business NETVIGATOR Broadband Service is terminated for
            whatever reason, the Service will also be terminated at the same
            time.
          </li>
        </ol>
      </td>
    </tr>
  </table>
</div>
