<div
  class="terms-flow-title page-break"
  style="font-weight: bold; font-size: 15px"
  th:if="${true}"
>
  Terms and Conditions (T&amp;C)
</div>
<div class="terms-flow-body tcContent" th:if="${true}">
  <div>
    Notwithstanding anything contained in the Special Conditions and General
    Conditions (as defined in paragraph (13) below):
  </div>
  <p class="terms-paragraph terms-level-1">
    1. Notwithstanding anything contained in the Special Conditions and General
    Conditions, (as defined in paragraph 11 below):
  </p>

  <p class="terms-paragraph terms-level-2">
    1.1. "Affiliates" means any entity which directly or indirectly controls, or
    is controlled by, or is under common control with, an entity, where control
    means control of at least 50% of the voting power of securities or interests
    in such entity
  </p>
  <p class="terms-paragraph terms-level-2">
    1.2. "BNS" means the Business NETVIGATOR Service.
  </p>
  <p class="terms-paragraph terms-level-2">
    1.3. "Company" or "HKT" means Hong Kong Telecommunications (HKT) Limited,
    the service provider of BNS and the Service.
  </p>
  <p class="terms-paragraph terms-level-2">
    1.4. This Business Broadband Service forms part of the BNS. For the purpose
    of this Application, reference to "BNS" shall include this Business
  </p>
  <p class="terms-paragraph terms-level-1">
    2. The Company reserves its right to amend the contents and all the terms
    and conditions contained in this Application atany time. In case of
    disputes, the Company's decision shall be final, binding and conclusive
  </p>
  <p class="terms-paragraph terms-level-1">
    3. Clauses 14.8 to 14.11 of the "Hong Kong Telecommunications (HKT) Limited
    General Conditions of Service" posted at
    <a href="https://www.hkt.com/en/terms-of-use/"
      >https://www.hkt.com/en/terms-of-use/</a
    >
    provide for the renewal of the existing Term Plan for the Service (“Existing
    Plan”). The Existing Plan, upon its expiration, will be extended under
    certain circumstances on a monthly basis. Unless otherwise specified or
    notified by the Company, all the existing free gifts / products / services,
    waiver, rebate or discount will not be available.
  </p>
  <p class="terms-paragraph terms-level-1">
    4. Should the Customer cancel the Service under this Application at any time
    before it is provisioned but after it has already been accepted and being
    prepared by the Company for the service provisioning, the Customer shall pay
    the Company an Application Cancellation Charge equivalent to the amount of
    one month's Standard Monthly Fee for
  </p>
  <p class="terms-paragraph terms-level-1">
    5. Should the Customer terminate the BNS before the expiry of the Commitment
    Period, the Customer shall pay to the Company immediately upon demand, all
    accrued charges, being the total monthly charges (at the then prevailing
    tariff) for access to the BNS payable from the date of early termination to
    the date of the expiry of such Commitment Period and any other sum payable
    in such event as specified
  </p>
  <p class="terms-paragraph terms-level-1">
    6. HKT reserves the right to charge the amount equivalent to the
    installation fee (“Application Cancellation Charge”) for any cancellation of
    the services under this Application Form before the commencement date of the
    service provision (“Service Commencement Date”). If the service is not
    installed before the proposed service commencement date as set out in this
    Application Form or over 3 months after your submission of this Application
    Form (whichever is the later), for reasons not otherwise attributable to the
    fault of HKT, this Application Form is deemed to be cancelled by you
    automatically and you are on demand required to pay the Application
  </p>
  <p class="terms-paragraph terms-level-1">
    7. The Customer agrees to subscribe to the Service on a month-to-month basis
    and pay the Monthly Fee(s) as indicated in this Application Form or, upon
    HKT giving the Customer not less than 30 days' prior written notice at its
    discretion from time to time, any other amount. The Monthly Fee(s) shall be
    payable in advance and the first payment will be calculated and is payable
    from the Service Effective Date as indicated in this Application Form. After
    the Service Effective Date, the Customer may terminate the Service by giving
    HKT at least 30 days' prior written notice.
  </p>
  <p class="terms-paragraph terms-level-1">
    8. Any service change request from the Customer will normally be made during
    office hour within around 3 workin
  </p>
  <p class="terms-paragraph terms-level-1">
    9. The Customer agrees to appoint, on this Application, an Administrative
    Contact (AC) as the Customer's authorized person to submit to the Company on
    the Customer's behalf on the initial and on-going service configuration
    information for the BNS, and on the change requests on the BNS and shall act
    as Customer's general contact to the Company on technical issues related to
    the BNS. The Customer warrants to the Company that the AC appointed in
    accordance with this clause is duly authorized to act on the Customer's
    behalf in relation to this Applicatio
  </p>
  <p class="terms-paragraph terms-level-1">
    10. The Company will not be liable for incidental, indirect, exemplary or
    consequential damages of any kind, including, but not limited to, damage
    caused to Customer due to the operation of the BNS or damages related to
    lost data or lost profits, even if the Company have been advised of the
    possibility
  </p>
  <p class="terms-paragraph terms-level-1">
    11. Unless otherwise specified in this Application, this Application for the
    Service and the terms and conditions of the associated services are in
    addition to
  </p>

  <p class="terms-paragraph terms-level-2">
    11.1. the Special Conditions for the BNS posted at https://www.hkt
    commercial.com/products/Business_Broadband
    /T&amp;C_BBI_SpecialConditions.pdf ("Special Conditions"); and
  </p>
  <p class="terms-paragraph terms-level-2">
    11.2. the Hong Kong Telecommunications (HKT) Limited General Conditions of
    Service posted at
    <a href="wwwhkt.com/en/terms-of-use/">www.hkt.com/en/terms-of-use/</a>
    ("General Conditions"), as amended from time to time, which collectively
    form the contract for the Service ("Contract"). Where applicable, by the
    Customer's signing on this Application:
  </p>
  <p class="terms-paragraph terms-level-3">
    11.2.1. all such Special Conditions and General Conditions are deemed
    incorporated herein by
  </p>
  <p class="terms-paragraph terms-level-3">
    11.2.2. the Customer are deemed to agree and accept the Special Conditions,
    General Conditions, the terms and conditions set out in this Application and
    all other related terms and conditions of the Service and the associated
    services
  </p>
</div>
<div
  class="terms-flow-body tcContent"
  style="border-top: 1px solid #000; margin-top: 10px"
>
  <p class="terms-paragraph terms-level-1">
    12. In the event when processing this Application that HKT finds that this
    Application contains any missing or incorrectly entered information or
    charges, then HKT's Account Manager will contact the Customer as soon as
    practicable to rectify such discrepancy and HKT will resume processing this
    Application when such discrepancy
  </p>
  <p class="terms-paragraph terms-level-1">
    13. The Service, the associated services and any other services purchased by
    the Customer under this Application shall be provided by HKT to the Customer
    for purposes related to the Customer's trade or business only. The Customer
    shall only use the services under this Application and information obtained
    therefrom for purposes permitted by HKT and shall not disseminate or resell
    any part of those services or information to any parties.
  </p>
  <p class="terms-paragraph terms-level-1">
    14. All payments made by the Customer under the Contract are not refundable,
    unless otherwise provided in the Contract. If any payment under the Service
    is overdue and outstanding, all outstanding discount, rebate, waiver and
    free offerings (if any) applicable to the Customer may be forfeited or
    cancelled immediately.
  </p>
  <p class="terms-paragraph terms-level-1">
    15. To the extent permitted by law, the aggregate liability arising under or
    in connection with the Contract of each of HKT or the Customer shall not in
    any event exceed the aggregate amount payable by the Customer under the
    Contract (and any subsequent amendments and/or supplemental).
  </p>
  <p class="terms-paragraph terms-level-1">
    16. All provisions under this Application are governed by Hong Kong law. In
    the event of disputes, the Company's decision shall be final, binding and
    conclusive.
  </p>
  <p class="terms-paragraph terms-level-1">
    17. HKT reserves its right to amend the contents and all the terms and
    conditions contained in the Contract, including but not limited to this
    Application at any time. In case of disputes, HKT's decision shall be final
    and conclusive.
  </p>
  <p class="terms-paragraph terms-level-1">
    18. The Customer shall only use the services under this Application and
    information obtained therefrom for purposes permitted by HKT and shall not
    disseminate or resell any part of those services or those information to any
    entities
  </p>
  <p class="terms-paragraph terms-level-1">
    19. Bandwidth specification refers to network specifications ofthe services
    subscribed to for the broadband line connected from the modem at your
    premises to the first piece of Business NETVIGATOR network equipment or
    central office. Actual speed experienced will be less than the network
    specifications and will be affected by your device, technology, network and
    software used, network configuration and coverage, usage levels,
    international bandwidth and extraneous factors
  </p>
  <p class="terms-paragraph terms-level-1">
    20. The BNS is provided at the Installation Address specified in the
    Application, where sufficient service coverage and necessary resources must
    be available. Such service coverage and resources availability shall be
    solely determined by the Company. If the Customer requests the Company to
    relocate the BNS to a location where neither sufficient service coverage nor
    necessary resources (as solely determined by the Company) are available for
    provisioning of the BNS at any time during the Commitment Period (as
    specified in the Application):
  </p>

  <p class="terms-paragraph terms-level-2">
    20.1. the Company shall have no obligations to comply with the Customer's
    relocation request; and
  </p>
  <p class="terms-paragraph terms-level-2">
    20.2. the BNS shall be deemed to be early terminated by the Customer and the
    Customer shall be subject to payment of early termination charges and/or
    other charges as specified in the Application, as well as other liabilities
    under the Customer's contract for the BNS, without prejudice to any other
    rights of the Company under the Customer's contract for
  </p>

  <p class="terms-paragraph terms-level-1">
    21. The Customer agrees to pay all fees or charges imposed by the building
    owner, building management office, incorporated owners, or any third parties
    for the provision of the BNS to the location of the Customer's requested
    Installation Address.
  </p>
  <p class="terms-paragraph terms-level-1">
    22. The Customer shall pay additional Charge as specified by the Company for
    any monthly storage usage exceeding the Email Storage Entitlement of the
    subscribed Service Plan. The monthly storage usage shall be the average
    daily storage usage for the month as rounded
  </p>
  <p class="terms-paragraph terms-level-1">
    23. The Average Monthly Fee specified herein is for reference only and shall
    not be regarded as the actual fee payable under this Application
  </p>
  <p class="terms-paragraph terms-level-1">
    24. The terms and conditions of the following service(s) associated with the
    BNS ("Associated Services") are posted at
    <a href="http://www.biznetvigator.com">http://www.biznetvigator.com</a>. The
    Company will provide the Customer with some of the Associated Services as
    more particularly specified in the Service Plan of this Application subject
    to its/their respective terms and conditions. In the event that the Customer
    terminates the services specified in this Application during the Commitment
    Period, the Associated Services shall also be terminated automatically. -
    Email Service, Email Anti-Virus Service, Email Anti-Spam Service,
    Anti-Hacking Service, Wireless Access Service
  </p>
  <p class="terms-paragraph terms-level-1">25. Fair Usage</p>

  <p class="terms-paragraph terms-level-2">
    25.1. The Customer acknowledges that certain resources in the provisioning
    of the BNS are operated on a shared basis with other customers of the
    Company. To maintain the highest quality of service for all users, the
    following will be applied for the provision of the services subscribed
    herein:
  </p>
  <p class="terms-paragraph terms-level-3">
    25.1.1. Fair Access: all customers of the Company (including the Customer)
    will be ensured a fair access to the BNS network at all
  </p>
  <p class="terms-paragraph terms-level-3">
    25.1.2. Network Integrity: Applicable measures will be taken as necessary to
    prevent adverse effects on the BNS network caused by extreme or unreasonable
    usage and / or patter
  </p>
</div>
<div
  class="terms-flow-body tcContent"
  style="border-top: 1px solid #000; margin-top: 50px"
>
  <p class="terms-paragraph terms-level-2">
    25.2. The Company reserves the right to monitor the Customer's utilization
    of the shared resources to ensure compliance with sub-clause (i) above. If
    the Company determines that the Customer's utilization of the shared
    resources is extreme or unreasonable which may cause adverse effects on and
    / or unfair access to the BNS network, including but not limited to,
    prolonged international traffic consumption, the Company may regulate access
    to the shared resources in a fair manner. This may include:
  </p>
  <p class="terms-paragraph terms-level-3">
    25.2.1. Applying bandwidth rate limitations to the Customer
  </p>
  <p class="terms-paragraph terms-level-3">
    25.2.2. Implementing other measures deemed necessary to ensure fair access
  </p>
  <p class="terms-paragraph terms-level-1">
    The Company may also require the Customer to carry out mitigative measures.
    If the extreme or unreasonable usage or behavior of the Customer continues,
    it will be deemed a material breach of the Contract by the Customer
  </p>
</div>
