<div class="common-custom-title">Offer Details</div>
<div
  th:each="item, stat : ${pdfOrderInfoBo.orderLineInfoBos}"
  th:class="'table-block ' + (${stat.first} ? '' : 'page-break')"
>
  <table class="custom-table custom-table-thin-inner charge-table">
    <colgroup>
      <col style="width: 4.888%" />
      <col style="width: 17.017%" />
      <col style="width: 12.57%" />
      <col style="width: 12.405%" />
      <col style="width: 12.905%" />
      <col style="width: 12.405%" />
      <col style="width: 12.905%" />
      <col style="width: 14.905%" />
    </colgroup>
    <thead>
      <tr>
        <th
          colspan="8"
          style="background-color: #fff; border-top: 1px solid #000"
        >
          <div style="font-size: 16px">M-Elite</div>
        </th>
      </tr>
      <tr>
        <th
          colspan="3"
          style="
            background-color: #fff;
            text-align: left;
            border-top: 0.2px solid #000;
          "
        >
          Network Bandwidth (bps)
        </th>
        <th
          colspan="5"
          style="
            background-color: #fff;
            text-align: left;
            border-top: 0.2px solid #000;
            border-left: 0.2px solid #000;
            position: relative;
          "
        >
          MobileNetworkPerformance<span
            style="
              font-size: 12px;
              font-weight: 400;
              position: absolute;
              left: 180px;
              top: 0px;
            "
            >T&amp;C3</span
          >
        </th>
      </tr>
      <tr>
        <th
          colspan="3"
          style="
            background-color: #fff;
            text-align: left;
            border-top: 0.2px solid #000;
          "
        >
          Commitment Period
        </th>
        <th
          colspan="5"
          style="
            background-color: #fff;
            text-align: left;
            border-top: 0.2px solid #000;
            border-left: 0.2px solid #000;
          "
          th:text="${item.period}"
        >
          24 months
        </th>
      </tr>
    </thead>
  </table>

  <!-- 表格2: Product(s) / Service(s) -->
  <div class="table-block table-block-joined">
    <table
      class="custom-table custom-table-thin-inner table-outline-top charge-table"
    >
      <colgroup>
        <col style="width: 4.888%" />
        <col style="width: 17.017%" />
        <col style="width: 12.57%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 14.905%" />
      </colgroup>
      <thead>
        <tr>
          <th colspan="2">Product(s) / Service(s)</th>
          <th>Line Qty</th>
          <th>One Time Charge<br />(Per Line)</th>
          <th>Standard Monthly Fee<br />(Per Line)</th>
          <th>Monthly Rebate<br />(Per Line)</th>
          <th>Effective Monthly Fee<br />(Per Line)</th>
          <th>Total Monthly Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product,indexInc : ${item.mainProductElementList}">
          <td th:text="${indexInc.count}">1</td>
          <td class="product-name-cell">
            <span class="product-name-text" th:text="${product.name}"
              >Business Broadband Service</span
            >
          </td>
          <td th:text="${product.qty}">2</td>
          <td>
            <!-- 判断是否包含空格 -->
            <th:block
              th:if="${product.oneTimeCharge != null and product.oneTimeCharge.contains(' ')}"
            >
              <!-- 空格前的内容显示在删除线中 -->
              <s
                th:text="${product.oneTimeCharge.substring(0, product.oneTimeCharge.indexOf(' '))}"
              ></s>
              &nbsp;
              <!-- 空格后的内容显示在普通span中 -->
              <span
                th:text="${product.oneTimeCharge.substring(product.oneTimeCharge.indexOf(' ') + 1)}"
              ></span>
            </th:block>
            <!-- 不包含空格的情况 -->
            <th:block
              th:unless="${product.oneTimeCharge != null and product.oneTimeCharge.contains(' ')}"
            >
              <span th:text="${product.oneTimeCharge}"></span>
            </th:block>
          </td>
          <td th:text="${product.standardMonthlyFee}">$2,398</td>
          <td th:text="${product.monthlyRebate}">- $398</td>
          <td th:text="${product.effectiveMonthlyFee}">$2,000</td>
          <td th:text="${product.totalMonthlyFee}">$4,000</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 表格3: Value Added Service(s) -->
  <div
    th:if="${item.additionalEquipmentElementList != null and #lists.size(item.additionalEquipmentElementList) > 0}"
    class="table-block table-block-joined"
  >
    <table
      class="custom-table custom-table-thin-inner table-outline-top charge-table"
    >
      <colgroup>
        <col style="width: 4.888%" />
        <col style="width: 17.017%" />
        <col style="width: 12.57%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 14.905%" />
      </colgroup>
      <thead>
        <tr>
          <th colspan="2">Value Added Service(s)</th>
          <th>Line Qty</th>
          <th>One Time Charge<br />(Per Line)</th>
          <th>Standard Monthly Fee<br />(Per Line)</th>
          <th>Monthly Rebate<br />(Per Line)</th>
          <th>Effective Monthly Fee<br />(Per Line)</th>
          <th>Total Monthly Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product,indexInc : ${item.additionalEquipmentElementList}">
          <td th:text="${indexInc.count}">1</td>
          <td class="product-name-cell">
            <span class="product-name-text" th:text="${product.name}"
              >Business Broadband Service</span
            >
          </td>
          <td th:text="${product.qty}">2</td>
          <td>
            <!-- 判断是否包含空格 -->
            <th:block
              th:if="${product.oneTimeCharge != null and product.oneTimeCharge.contains(' ')}"
            >
              <!-- 空格前的内容显示在删除线中 -->
              <s
                th:text="${product.oneTimeCharge.substring(0, product.oneTimeCharge.indexOf(' '))}"
              ></s>
              &nbsp;
              <!-- 空格后的内容显示在普通span中 -->
              <span
                th:text="${product.oneTimeCharge.substring(product.oneTimeCharge.indexOf(' ') + 1)}"
              ></span>
            </th:block>
            <!-- 不包含空格的情况 -->
            <th:block
              th:unless="${product.oneTimeCharge != null and product.oneTimeCharge.contains(' ')}"
            >
              <span th:text="${product.oneTimeCharge}"></span>
            </th:block>
          </td>
          <td th:text="${product.standardMonthlyFee}">$2,398</td>
          <td th:text="${product.monthlyRebate}">- $398</td>
          <td th:text="${product.effectiveMonthlyFee}">$2,000</td>
          <td th:text="${product.totalMonthlyFee}">$4,000</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 表格4: Premium(s) -->
  <div
    th:if="${item.premiumElementList != null and #lists.size(item.premiumElementList) > 0}"
    class="table-block table-block-joined"
  >
    <table
      class="custom-table custom-table-thin-inner table-outline-top charge-table"
    >
      <colgroup>
        <col style="width: 4.888%" />
        <col style="width: 17.017%" />
        <col style="width: 12.57%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 14.905%" />
      </colgroup>
      <thead>
        <tr>
          <th colspan="2">Premium(s)</th>
          <th>Premium Qty<br />(Per Line)</th>
          <th>One Time Charge<br />(Per Line)</th>
          <th>Standard Monthly Fee</th>
          <th>Monthly Rebate<br />(Per Line)</th>
          <th>Effective Monthly Fee<br />(Per Line)</th>
          <th>Total Monthly Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product,indexInc : ${item.premiumElementList}">
          <td th:text="${indexInc.count}">1</td>
          <td class="product-name-cell">
            <span class="product-name-text" th:text="${product.name}"
              >Business Broadband Service</span
            >
          </td>
          <td th:text="${product.qty}">2</td>
          <td>
            <!-- 判断是否包含空格 -->
            <th:block
              th:if="${product.oneTimeCharge != null and product.oneTimeCharge.contains(' ')}"
            >
              <!-- 空格前的内容显示在删除线中 -->
              <s
                th:text="${product.oneTimeCharge.substring(0, product.oneTimeCharge.indexOf(' '))}"
              ></s>
              &nbsp;
              <!-- 空格后的内容显示在普通span中 -->
              <span
                th:text="${product.oneTimeCharge.substring(product.oneTimeCharge.indexOf(' ') + 1)}"
              ></span>
            </th:block>
            <!-- 不包含空格的情况 -->
            <th:block
              th:unless="${product.oneTimeCharge != null and product.oneTimeCharge.contains(' ')}"
            >
              <span th:text="${product.oneTimeCharge}"></span>
            </th:block>
          </td>
          <td th:text="${product.standardMonthlyFee}">$2,398</td>
          <td th:text="${product.monthlyRebate}">- $398</td>
          <td th:text="${product.effectiveMonthlyFee}">$2,000</td>
          <td th:text="${product.totalMonthlyFee}">$4,000</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 表格5: Total Charge & Netvigator Admin Login -->
  <div class="table-block table-block-joined">
    <table
      class="custom-table custom-table-thin-inner table-outline-top charge-table"
    >
      <colgroup>
        <col style="width: 4.888%" />
        <col style="width: 17.017%" />
        <col style="width: 12.57%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 12.405%" />
        <col style="width: 12.905%" />
        <col style="width: 14.905%" />
      </colgroup>
      <tbody>
        <tr style="background-color: #d9d9d9">
          <td rowspan="2" colspan="2" style="border-top: 1px solid #000">
            Total Charge
          </td>
          <td colspan="2" style="border-top: 1px solid #000">
            One Time Charge
          </td>
          <td colspan="2" style="border-top: 1px solid #000">
            Monthly Service Fee
          </td>
          <td colspan="2" style="border-top: 1px solid #000">
            Contract Amount
          </td>
        </tr>
        <tr>
          <td
            colspan="2"
            th:text="${item.oneTimeCharge}"
            style="border-left: none"
          >
            $0
          </td>
          <td colspan="2" th:text="${item.monthlyServiceFee}">$X,XXX</td>
          <td colspan="2" th:text="${item.contractAmount}">$XXXX</td>
        </tr>
        <tr>
          <td colspan="2" style="background-color: #d9d9d9; font-size: 12.5px">
            Netvigator Admin Login
          </td>
          <td colspan="6" class="email-td">
            <span
              class="line email-input-wrapper"
              style="border-bottom: 0.8px solid #000"
            ></span
            >&nbsp;
            <span class="email-text">@biznetvigator.com</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 表格6: Billing & Fulfillment Info -->
  <div class="table-block table-block-joined">
    <table
      class="custom-table custom-table-thin-inner custom-table2 table-outline-top charge-table"
      style="border-bottom: 1px solid #000"
    >
      <colgroup>
        <col style="width: 4.888%" />
        <col style="width: 17.017%" />
        <col style="width: 19%" />
        <col style="width: 21%" />
        <col style="width: 38.095%" />
      </colgroup>
      <thead>
        <tr>
          <th colspan="5" style="border-top: 1px solid #000">
            Billing &amp; Fulfillment Info
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">Installation Address</td>
          <td colspan="3">
            <div th:text="${item.installationAddress}">
              G/F, BLOCK 1, PCCW HOLIDAY BUNGALOW, FA PENG ROAD, CHEUNG CHAU,
              NEW TERRITORIES
            </div>
            <div style="font-size: 10.5px; margin-top: 20px">
              Note (1): For building/estate that the telecommunication
              infrastructure is not owned by Hong Kong Telecommunication (HKT)
              Limited, there will be additional 14 calendar days for
              provisioning the service.
            </div>
          </td>
        </tr>
        <tr>
          <td rowspan="2" colspan="2">Billing Preference</td>
          <td colspan="3">
            <div class="checkbox-row" style="margin-top: 0">
              <span class="checkbox-box-cell">
                <span class="custom-checkbox"></span>
              </span>
              <span class="checkbox-text">
                Email address for receiving e-bills:
              </span>
            </div>
            <div class="checkbox-row">
              <span class="checkbox-box-cell">
                <span class="custom-checkbox"></span>
              </span>
              <span class="checkbox-text">
                Paper bill (Charge: HK$20 per bill)
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="border-left: none">
            <div class="checkbox-row" style="margin-top: 0">
              <span class="checkbox-box-cell">
                <span
                  class="custom-checkbox"
                  style="margin: 0; padding: 0 0 3px 1px"
                >
                  <img
                    th:if="${item.accountNumber == null or item.accountNumber == ''}"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
                  />
                </span>
              </span>
              <span class="checkbox-text">New Account</span>
            </div>
            <div class="checkbox-row">
              <span class="checkbox-box-cell">
                <span
                  class="custom-checkbox"
                  style="margin: 0; padding: 0 0 3px 1px"
                >
                  <img
                    th:if="${item.accountNumber != null and item.accountNumber != ''}"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
                  />
                </span>
              </span>
              <span class="checkbox-text">
                Bill to Existing Account Number:
                <span
                  style="
                    display: inline-block;
                    width: 200px;
                    border-bottom: 1px solid #333;
                  "
                  th:text="${item.accountNumber}"
                  >21321312</span
                >
              </span>
            </div>
            <div class="checkbox-row">
              <span class="checkbox-box-cell">
                <span class="custom-checkbox"></span>
              </span>
              <span class="checkbox-text">
                <b>Correspondence and billing address</b>
                <i> (if different from Installation Address):</i>
              </span>
            </div>
            <div style="margin-top: 10px">
              <span>Flat / Room:</span>
              <span
                style="
                  display: inline-block;
                  width: 103px;
                  background-color: #000;
                  height: 1px;
                "
              ></span
              >,
              <span>Floor:</span>
              <span
                style="
                  display: inline-block;
                  width: 103px;
                  background-color: #000;
                  height: 1px;
                "
              ></span
              >,
              <span> Block / Tower: </span>
              <span
                style="
                  display: inline-block;
                  width: 90px;
                  background-color: #000;
                  height: 1px;
                "
              ></span
              >,
            </div>
            <div style="margin-top: 10px">
              <span>Building / Estate:</span>
              <span
                style="
                  display: inline-block;
                  width: 182px;
                  background-color: #000;
                  height: 1px;
                "
              ></span
              >,
              <span>Street:</span>
              <span
                style="
                  display: inline-block;
                  width: 175px;
                  background-color: #000;
                  height: 1px;
                "
              ></span
              >,
            </div>
            <div style="margin-top: 10px">
              <span>District</span>
              <span
                style="
                  display: inline-block;
                  width: 182px;
                  background-color: #000;
                  height: 1px;
                "
              ></span
              >,
              <span>
                [ &nbsp;&nbsp;] HK [ &nbsp;&nbsp;] KLN [ &nbsp;&nbsp;] NT</span
              >
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">Service Request Date</td>
          <td colspan="3" th:text="${item.serviceRequestDate}">XXXXX</td>
        </tr>
        <tr>
          <td colspan="2">Administrative Contact</td>

          <td class="contact-td">
            <span class="contact-label">Name</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.administrativeContact.name}"
              >John Chan</span
            >
          </td>

          <td class="contact-td">
            <span class="contact-label">Tel. no / Mobile no</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.administrativeContact.mobileNo}"
              >John Chan</span
            >
          </td>

          <td class="contact-td contact-inline-td">
            <div class="contact-inline-row">
              <span class="contact-label">Email Address</span>
              <span
                class="contact-value-wrapper"
                th:text="${item.administrativeContact.emailAddress}"
                >John Chan</span
              >
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">Billing Contact</td>

          <td class="contact-td">
            <span class="contact-label">Name</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.billingContact.name}"
              >John Chan</span
            >
          </td>

          <td class="contact-td">
            <span class="contact-label">Tel. no / Mobile no</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.billingContact.mobileNo}"
              >John Chan</span
            >
          </td>

          <td class="contact-td contact-inline-td">
            <div class="contact-inline-row">
              <span class="contact-label">Email Address</span>
              <span
                class="contact-value-wrapper"
                th:text="${item.billingContact.emailAddress}"
                >John Chan</span
              >
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">On-Site Contact</td>

          <td class="contact-td">
            <span class="contact-label">Name</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.onsiteContact.name}"
              >John Chan</span
            >
          </td>

          <td class="contact-td">
            <span class="contact-label">Tel. no / Mobile no</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.onsiteContact.mobileNo}"
              >John Chan</span
            >
          </td>

          <td class="contact-td contact-inline-td">
            <div class="contact-inline-row">
              <span class="contact-label">Email Address</span>
              <span
                class="contact-value-wrapper"
                th:text="${item.onsiteContact.emailAddress}"
                >John Chan</span
              >
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="border-bottom: none">Technical Contact</td>

          <td class="contact-td" style="border-bottom: none">
            <span class="contact-label">Name</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.technicalContact.name}"
              >John Chan</span
            >
          </td>

          <td class="contact-td" style="border-bottom: none">
            <span class="contact-label">Tel. no / Mobile no</span>
            <span
              class="contact-value-wrapper"
              th:text="${item.technicalContact.mobileNo}"
              >John Chan</span
            >
          </td>

          <td class="contact-td contact-inline-td" style="border-bottom: none">
            <div class="contact-inline-row">
              <span class="contact-label">Email Address</span>
              <span
                class="contact-value-wrapper"
                th:text="${item.technicalContact.emailAddress}"
                >John Chan</span
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- supplement table -->
  <div th:utext="${item.supplementaryContent}"></div>
</div>
