<!-- Cloud Storage -->
<div th:if="${product.elementId == '34000077'}" class="table-block">
  <table
    class="custom-table custom-table2"
    style="border-bottom: 1px solid #000; border-top: none"
  >
    <colgroup>
      <col style="width: 358px" />
      <col style="width: 358px" />
    </colgroup>
    <tr>
      <td colspan="3" style="text-align: center">Cloud Storage</td>
    </tr>
    <tr>
      <td colspan="2" style="background-color: #d9d9d9">
        Value Added Service(s) Info
      </td>
    </tr>
    <tr>
      <td>Cloud Storage (GB)</td>
      <td th:text="${product.itemMap.no_of_storage}"></td>
    </tr>
    <tr>
      <td>Terms and Conditions (T&amp;C) of Value Added Service(s)</td>
    </tr>
  </table>
</div>
