<!-- Cloud Storage -->
<div th:if="${product.elementId == '34000077'}" class="table-block page-break">
  <table
    class="custom-table custom-table2 charge-table"
    style="border-bottom: 1px solid #000; border-top: none"
  >
    <colgroup>
      <col style="width: 50%" />
      <col style="width: 50%" />
    </colgroup>
    <tr>
      <td colspan="3" style="text-align: center" th:text="${product.name}">
        Cloud Storage
      </td>
    </tr>
    <tr>
      <td colspan="2" style="background-color: #d9d9d9">
        Value Added Service(s) Info
      </td>
    </tr>
    <tr>
      <td>Cloud Storage (GB)</td>
      <td th:text="${product.itemMap.no_of_storage}"></td>
    </tr>
    <tr>
      <td colspan="2">
        Terms and Conditions (T&amp;C) of Value Added Service(s)
      </td>
    </tr>
    <tr>
      <td colspan="2" class="tcContent">
        <ol>
          <li>
            The provision of Cloud Storage Service is limited to the Customers
            with @biznetvigator.com email accounts or those email accounts
            provided or hosted by Business NETVIGATOR Broadband and exclude
            email accounts using @netvigator.com and hkstar.com.
          </li>
          <li>
            The provision of Web Meeting Service is limited to the Customers
            with @biznetvigator.com email accounts or those email accounts
            provided or hosted by Business NETVIGATOR Broadband and exclude
            email accounts using @netvigator.com and hkstar.com.
          </li>
          <li>
            The Company reserves right to remove the Customer's files or data
            stored under the BNS, which contain virus or might affect the BNS;
            or under any circumstance the Company think fit or required by any
            applicable law, rule, regulation or order.
          </li>
          <li>
            The term for the customer's Application to the BNS under any Service
            Plan will expire at the same time as the customer's Application to
            its Business NETVIGATOR Broadband Service.
          </li>
          <li>
            The Customer is entitled to change Service Plan if applicable at
            anytime by giving 30 days' prior written notice; such Service Plan
            change to be effective from the next billing date.
          </li>
          <li>
            The BNS will be operated as an ancillary service to Customer's
            Business NETVIGATOR Broadband Service indicated as the Existing
            Broadband Service Ref. No. above in this Application and the
            termination of the latter will imply a corresponding termination of
            the BNS.
          </li>
          <li>
            The Service will be operated as an ancillary service to the
            Customer's Business NETVIGATOR Broadband Service indicated as the
            Existing Broadband Service Ref. No. above in this Application. If
            your Business NETVIGATOR Broadband Service is terminated for
            whatever reason, the Service will also be terminated at the same
            time.
          </li>
        </ol>
      </td>
    </tr>
  </table>
</div>
