<!-- Mesh WiFi Router    -->
<div th:if="${product.elementId == '34000212'}" class="table-block page-break">
  <table
    class="custom-table custom-table2 charge-table"
    style="border-bottom: 1px solid #000; border-top: none"
  >
    <colgroup>
      <col style="width: 33.24%" />
      <col style="width: 33.24%" />
      <col style="width: 33.52%" />
    </colgroup>
    <tr>
      <td style="text-align: center" colspan="3" th:text="${product.name}">
        Mesh WiFi Router
      </td>
    </tr>
    <tr>
      <td colspan="3" style="background-color: #d9d9d9">
        Value Added Service(s) Info
      </td>
    </tr>
    <tr>
      <td colspan="2">Mesh WiFi Router Model</td>
      <td th:text="${product.itemMap.router}">xx</td>
    </tr>
    <tr>
      <td colspan="3">Mesh WiFi Settings (Network Name (SSID)</td>
    </tr>
    <tr>
      <td>
        <div class="checkbox-row" style="margin-top: 0">
          <span class="checkbox-box-cell">
            <span class="custom-checkbox custom-checkbox2">
              <img
                th:if="${product.itemMap.PM_BB_2_4GHz_SSID != null and product.itemMap.PM_BB_2_4GHz_SSID != ''}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
              />
            </span>
          </span>
          <span class="checkbox-text">
            2.4GHz:
            <span th:text="${product.itemMap.PM_BB_2_4GHz_SSID}"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="checkbox-row" style="margin-top: 0">
          <span class="checkbox-box-cell">
            <span class="custom-checkbox custom-checkbox2">
              <img
                th:if="${product.itemMap.PM_BB_5GHz_SSID != null and product.itemMap.PM_BB_5GHz_SSID != ''}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
              />
            </span>
          </span>
          <span class="checkbox-text">
            5GHz:
            <span th:text="${product.itemMap.PM_BB_5GHz_SSID}"></span>
          </span>
        </div>
      </td>
      <td>
        <div class="checkbox-row" style="margin-top: 0">
          <span class="checkbox-box-cell">
            <span class="custom-checkbox custom-checkbox2">
              <img
                th:if="${product.itemMap.PM_BB_6GHz_SSID != null and product.itemMap.PM_BB_6GHz_SSID != ''}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
              />
            </span>
          </span>
          <span class="checkbox-text">
            6GHz:
            <span th:text="${product.itemMap.PM_BB_6GHz_SSID}"></span>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        Terms and Conditions (T&amp;C) of Value Added Service (s)
      </td>
    </tr>
    <tr>
      <td colspan="3" class="tcContent">
        <div class="terms-paragraph terms-level-1">
          1. The performance of the router provided under the Service is subject
          to the network specifications of the internet service and the
          limitations of the devices connected to. The actual data transmission
          speed experienced by the Customer may be less than the wireless
          network specifications and wired network specifications and will be
          affected by many factors, including but not limited to the maximum
          data transmission speed of the router, network specifications of the
          internet service, layout of your premises, device used, technology,
          network and software used, network configuration and coverage and
          international bandwidth, as well as other Wi-Fi interference and
          extraneous factors.
        </div>
        <div class="terms-paragraph terms-level-1">
          2. The Customer acknowledges and agrees that the actual Wi-Fi
          throughput on both frequency bands shall be subject to and depend on a
          number of extraneous factors-, including but not limited to, Wi-Fi
          standard capability on the device, the number of antenna on the
          device, the communication distance with the Wi-Fi router, the
          interference, the noise level nearby or otherwise and the actual Wi-Fi
          throughput may be less than the broadband network specifications and
          may vary from time to time.
        </div>
        <div class="terms-paragraph terms-level-1">
          3. The scope of standard installation of the Services ("Standard
          Installation"):
        </div>
        <div class="terms-paragraph terms-level-2">
          3.1. Installing the required router or switch no higher than 3 meters
          in height from the floor level;
        </div>
        <div class="terms-paragraph terms-level-2">
          3.2. Installing the router or switch within 1.5 meters in distance
          from sufficient units of electrical power sockets (13 Amps and 220
          Volts) so provided by the Customer;
        </div>
        <div class="terms-paragraph terms-level-2">
          3.3. Installing the router or switch within 1.5 meters in distance
          from modem or router of existing service line;
        </div>
        <div class="terms-paragraph terms-level-2">
          3.4. Installation works that requires extra provisioning skills, such
          as drilling, wall mounting and installation of cable conduit etc. are
          not covered;
        </div>
        <div class="terms-paragraph terms-level-2">
          3.5. Installation works do not include any configuration of personal
          computer or computing equipment for accessing the BNS;
        </div>
        <div class="terms-paragraph terms-level-2">
          3.6. and The Customer shall ensure, at its own costs and expenses,
          that readily accessible telecommunications sockets in the designated
          location(s) of the Installation Address, free from any obstruction of
          furniture and/or other hindrances or blockages, will be provided for
          HKT to carry out the installation works. HKT's field service
          technicians and staff are not responsible for carrying out any
          clearance of such obstructions. If the telecommunications sockets are
          not cleared for HKT to carry out the necessary installation works at
          any visit, HKT reserves its right to charge the Customer for
          subsequent visit(s) to carry out the installation works at the
          Installation Address.
        </div>
        <div class="terms-paragraph terms-level-1">
          4. Customer may request HKT to change the on-loan router's or switch's
          configuration. These requests will be subjected to additional service
          fee(s) to be agreed by both parties.
        </div>
        <div class="terms-paragraph terms-level-1">
          5. Basic configuration information will be provided to Customer by
          technical service of BNS via separate correspondence.
        </div>
        <div class="terms-paragraph terms-level-1">
          6. Each on-loan router or switch is subject to its user limit
          depending on its model.
        </div>
        <div class="terms-paragraph terms-level-1">
          7. HKT shall not be responsible for any loss or damages suffered by
          the Customer and/or any third party including but not limited to,
        </div>
        <div class="terms-paragraph terms-level-2">
          7.1. indirect, incidental, exemplary, special or consequential
          damages;
        </div>
        <div class="terms-paragraph terms-level-2">
          7.2. loss or corruption of data or interrupted or loss of business,
          the loss of any properties, data and/or physical inventory. or
        </div>
        <div class="terms-paragraph terms-level-2">
          7.3. loss of revenues, profits, goodwill or anticipated sales or
          savings during the use of this Service.
        </div>
        <div class="terms-paragraph terms-level-1">
          8. In addition to, and not in limitation of, the other disclaimers or
          limitations set forth in the Contract, in no event shall HKT, its
          employees, agents or suppliers be liable to the Customer, any user or
          third party for any defect, failure, default, loss or damages caused
          by:
        </div>
        <div class="terms-paragraph terms-level-2">
          8.1. any performance problem, or other matter to the extent
          attributable to
        </div>
        <div class="terms-paragraph terms-level-3">
          8.1.1. any unauthorized or improper use, alteration, repair or
          modification of the Service;
        </div>
        <div class="terms-paragraph terms-level-3">
          8.1.2. any use of any version of the Service other than the latest
          release; or
        </div>
        <div class="terms-paragraph terms-level-3">
          8.1.3. any breach of the Contract;
        </div>
        <div class="terms-paragraph terms-level-2">
          8.2. viruses, worms, Trojan Horses, or other undesirable data or
          software produced or initiated by third parties solely through the
          Customer's or user's data, website, computers, private network or
          other networks; or
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="tcContent">
        <div class="terms-paragraph terms-level-2">
          8.3. an unauthorized third party's (e.g., hacker's) access to the
          Customer's data, website, computers, private network or other
          networks; or
        </div>
        <div class="terms-paragraph terms-level-2">
          8.4. damage by fire, explosion, power failure, or any act of nature.
        </div>
        <div class="terms-paragraph terms-level-1">
          9. The Service is provided to the Customer on an "as is" basis, and
          without any warranty of any kind, whether express or implied,
          including but not limited to any implied warranty of merchantability,
          non-infringement title, quality, system integration or fitness for a
          particular purpose. HKT makes no warranty that the Service will be
          operated at a particular speed, error-free, uninterrupted or secure.
          The Service may be subject to limitations, delays, other problems
          inherit in the use of the internet and electronic communications.
        </div>
        <div class="terms-paragraph terms-level-1">
          10. You agree to use, with due care and in proper manner, each
          equipment and device that we provide to you pursuant to the Service,
          including but not limited to, routers, power adaptors, network cables,
          network switches (collectively, "Equipment"). The Equipment shall
          remain the property of HKT at all times. Unless otherwise stated, you
          are required to return to us our Equipment in the same condition as
          originally installed, fair wear and tear excepted, within 7 days after
          termination of the Service or BNS to the address designated by us.
          Please refer to details as contained in the designated termination
          request form completed upon your termination request. If you fail to
          return such Equipment or fail to return such Equipment in the same
          condition as originally installed within the prescribed timeframe, you
          agree to, without prejudice to our other rights and remedies,
          indemnify us all charges and losses for restoration, including but not
          limited to, a replacement charge at $700 for each ZTE T3000 and $1,200
          for each TP-Link HB410.
        </div>
        <div class="terms-paragraph terms-level-1">
          11. The provision and operation of the Service is conditional on the
          Customer's continuous subscription to HKT's broadband service as
          indicated in this Application Form. Termination of your HKT's
          broadband service will automatically terminate the Service and you
          shall return the Equipment in accordance with Clause 13 above.
        </div>
        <div class="terms-paragraph terms-level-1">
          12. The Service will be operated as an ancillary service to the
          Customer's Business NETVIGATOR Broadband Service indicated as the
          Existing Broadband Service Ref. No. above in this Application. If your
          Business NETVIGATOR Broadband Service is terminated for whatever
          reason, the Service will also be terminated at the same time.
        </div>
      </td>
    </tr>
  </table>
</div>
