<!-- Web Security Lite -->
<div th:if="${product.elementId == '34000014'}" class="table-block">
  <table
    class="custom-table custom-table2"
    style="border-bottom: 1px solid #000; border-top: none"
  >
    <colgroup>
      <col style="width: 716px" />
    </colgroup>
    <tr>
      <td style="text-align: center" th:text="${product.name}">
        Web Security Lite
      </td>
    </tr>
    <tr>
      <td>Terms and Conditions (T&amp;C) of Value Added Service (s)</td>
    </tr>
    <tr>
      <td>
        <ol>
          <li>
            The “HKT Web Security Basic” Plan includes function which aims to
            help protect the Customer’s device(s) against known malwares and
            phishing sites (“Malware Protection Service”). Customers need to use
            the DNS IP provided by the Company. Once a domain or URL is
            recognised as malware sites or phishing sites by the Company under
            such Service, any user access attempts to the domain or URL will be
            restricted. While the Company will use reasonable endeavors to
            ensure the availability of such Service and prompt detection of all
            known malwares and phishing sites, the Company does not in any way
            warrant or guarantee that such Service will be continuous and
            completely fault-free, nor does it warrant or guarantee in any way
            that all malwares and phishing sites will be promptly detected and
            restricted or detected and restricted at all. Direct access to the
            IP addresses of the malwares or phishing sites will not be blocked
            by such Service. Access to the malwares or phishing sites via HTTPS
            protocols will also not be blocked by such Service will not be
            blocked by such Service. Access to the malwares or phishing sites
            via HTTPS protocols will also not be blocked by such Service.
          </li>
          <li>
            The “HKT Web Security for Enterprise” Plan includes the Malware
            Protection Service, as well as web filtering function which aims to
            intercept HTTP and HTTPS requests and check the categorization of
            the destination of the Company's web filtering database via Business
            NETVIGATOR Broadband Service, and will either block or permit access
            to the destination based on the categorization result (“Web
            Filtering Service”). Eligible customers are allowed to customize the
            profile details via the user portal provided by the Company.
          </li>
          <li>
            The Company does not in any way guarantee that all kinds of internet
            protocol and/or application going through those ports under the Web
            Filtering Service could work or be compatible with the Web Filtering
            Service. For any protocol or application issue, the Customer is
            required to seek support from its application software vender for
            solution.
          </li>
          <li>
            Under the Web Filtering Service, Google Safe-search will be turned
            on by default by third party vender. However such search will not be
            available when user using other search provider or when doing HTTPS
            search. Eligible customers are allowed to turn off or turn on Google
            Safe-search via the user portal provided by the Company.
          </li>
          <li>
            The Malware Protection Service and the Web Filtering Service are
            provided by third party vendors in accordance with the applicable
            terms and conditions as such vendors may advise the Customer from
            time to time, and the Customer may be required by such vendors to
            enter into separate documents in relation to the Customer's
            subscription and such vendors' provision of such Service. The
            Customer acknowledges and agrees that (i) the Company does not
            request any monitoring of such vendors’ operation or details of
            their website analysis; and (ii) the Company, its Affiliates and
            their respective employees, representatives, sub-contractors and
            agents shall not in any way be responsible for or liable to the
            Customer, its Affiliates or their respective employees,
            representatives, sub-contractors and agents or any users of such
            Service whatsoever in connection with the provisions and use of such
            Service (or any part thereof). The Customer undertakes to indemnify
            the Company, its Affiliates and/or their respective employees,
            representatives, sub-contractors and agents if any of them should
            suffer or incur any loss, damages, costs and expenses in relation to
            such Service subscribed by the Customer and/or used by the Customer
            or any persons or entities.
          </li>
          <li>
            The Service will be operated as an ancillary service to the
            Customer’s Business NETVIGATOR Broadband Service indicated as the
            Existing Broadband Service Ref. No. above in this Application. If
            your Business NETVIGATOR Broadband Service is terminated for
            whatever reason, the Service will also be terminated at the same
            time.
          </li>
        </ol>
      </td>
    </tr>
  </table>
</div>
