<!-- Wireless Service  -->
<div th:if="${product.elementId == '34000016'}" class="table-block page-break">
  <table
    class="custom-table custom-table2"
    style="border-bottom: 1px solid #000; border-top: none"
  >
    <colgroup>
      <col style="width: 238px" />
      <col style="width: 238px" />
      <col style="width: 240px" />
    </colgroup>
    <tr>
      <td style="text-align: center" colspan="3" th:text="${product.name}">
        Wireless Service
      </td>
    </tr>
    <tr>
      <td colspan="3" style="background-color: #d9d9d9">
        Value Added Service(s) Info
      </td>
    </tr>
    <tr>
      <td colspan="3">Wireless Service Settings (Network Name (SSID)</td>
    </tr>
    <tr>
      <td>
        <div class="custom-checkbox custom-checkbox2">
          <img
            th:if="${product.itemMap.PM_BB_2_4GHz_SSID != null and product.itemMap.PM_BB_2_4GHz_SSID != ''}"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
          />
        </div>
        <span>
          2.4GHz:
          <span th:text="${product.itemMap.PM_BB_2_4GHz_SSID}"></span>
        </span>
      </td>
      <td>
        <div class="custom-checkbox custom-checkbox2">
          <img
            th:if="${product.itemMap.PM_BB_5GHz_SSID != null and product.itemMap.PM_BB_5GHz_SSID != ''}"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
          />
        </div>
        <span>
          5GHz:
          <span th:text="${product.itemMap.PM_BB_5GHz_SSID}"></span>
        </span>
      </td>
      <td>
        <div class="custom-checkbox custom-checkbox2">
          <img
            th:if="${product.itemMap.PM_BB_6GHz_SSID != null and product.itemMap.PM_BB_6GHz_SSID != ''}"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVR4AdSQ3Q2AIAyEjZPhZOpk4mR6n0kJIjURnjRe2no/Fsah8/l3QNDpQ+sRFpk3YWgJwDzLPAnxa8DNrIC0AQTzG9CkP5sw3+A6kxFFrZrRWACCXR8OgdtVSS/c48/GWgAzwlUNm1gI1TVLm+6AHhDC7RJCT2WOkDXkGxiPGBMzlZm+iloAQkxsQGV24QW4hpLoDjgBAAD//5ea/pMAAAAGSURBVAMA53cbIUkrt/4AAAAASUVORK5CYII="
          />
        </div>
        <span>
          6GHz:
          <span th:text="${product.itemMap.PM_BB_6GHz_SSID}"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        Terms and Conditions (T&amp;C) of Value Added Service (s)
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <ol>
          <li>
            The Service aims to help protect the Customer’s device(s) against
            known malwares and phishing sites. Customers need to use the DNS IP
            provided by the Company. Once a domain or URL is recognized as
            malware sites or phishing sites by the Company under the Service,
            any user access attempts to the domain or URL will be restricted.
            While the Company will use reasonable endeavors to ensure the
            availability of the Service and prompt detection of all known
            malwares and phishing sites, the Company does not in any way warrant
            or guarantee that the Service will be continuous and completely
            fault-free, nor does it warrant or guarantee in any way that all
            malwares and phishing sites will be promptly detected and restricted
            or detected and restricted at all.
          </li>
          <li>
            Direct access to the IP addresses of the malwares or phishing sites
            will not be blocked by the Service. Access to the malwares or
            phishing sites via HTTPS protocols will also not be blocked by the
            Service.
          </li>
          <li>
            Web filtering intercepts the HTTP and HTTPS request and checks the
            categorization of the destination of HKT's web filtering database
            via Business Netvigator. Either block or permit will be resulted
            based on the categorization result. Eligible customers are allowed
            to customize the profiles details via the user portal provided by
            HKT.
          </li>
          <li>
            HKT provides this information security service via industry-renowned
            vendor’s self-contained system, and HKT is not required to monitor
            the vendor’s operation or details of their website analysis.
          </li>
          <li>
            HKT does not guarantee all kinds of internet protocol and/or
            application going through these ports could work/are compatible with
            the web filtering service and is not responsible for the same. For
            any protocol or application issue, Customer is responsible for
            seeking support from its application software vendor for solution.
          </li>
          <li>
            Google Safe-search is turned on by default by these
            industry-renowned vendors, however this is not available when user
            using other search provider or doing HTTPS search. Eligible
            customers are allowed to turn off or turn on Google Safe-search via
            the user portal provided by HKT.
          </li>
          <li>
            For any service change request from existing Customer, the change
            will be made during office hour within 3 working days.
          </li>
          <li>
            The Customer agrees to appoint, on this Application form, an
            Administrative Contact (AC) as the Customer’s authorized person to
            submit to the Company on the Customer’s behalf on the initial and
            on-going service configuration information for the BNS, and on the
            change requests on the BNS and shall act as Customer’s general
            contact to the Company on technical issues related to the BNS. The
            Customer warrants to the Company that the AC appointed in accordance
            with this clause is duly authorized to act on the Customer’s behalf
            in relation to this Application.
          </li>
          <li>
            The Service will be operated as an ancillary service to the
            Customer’s Business NETVIGATOR Broadband Service indicated as the
            Existing Broadband Service Ref. No. above in this Application. If
            your Business NETVIGATOR Broadband Service is terminated for
            whatever reasons, the Service will also be terminated at the same
            time.
          </li>
        </ol>
      </td>
    </tr>
  </table>
</div>
